/sample/libpoint.*
*.obj
*.o
*.hl
*.js
*.bc
.vscode
bin
.DS_Store
example/build
example/src/sample/*.java
example/src/hl-idl-helpers.hpp
example/src/jvm-idl-helpers.hpp
example/src/idl_hl.cpp
example/src/idl_jvm.cpp
example/installed
example/sample.hdll
example/sample.dylib
example/sample.jnilib
